<div class="row">
  <div class="small-12 columns">
    <h1>
      <%= Team.model_name.human.pluralize %>
      <%= link_to icon('plus') + ' ' + t('.new_team'), new_team_path, class: 'button right' %>
    </h1>

    <table class="nice small-12 edit destroy">
      <tbody>
        <% @teams.each do |team| %>
        <tr>
          <td>
            <strong><%= team %></strong>
          </td>
          <td>
            <%= link_to icon('edit'), edit_team_path(team) %>
          </td>
          <td>
            <%= link_to icon('trash'), team, method: :delete, confirm: t('.confirm_delete') %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
