<%
  selectors_to_render = [:team_selector, :group_by_selector, :customer_selector, :time_frame_selector, :datepicker].select { |selector| content_for?(selector) }
%>

<div class="row content-summary-header">
  <div class="small-12 columns">
    <h1><%= title %></h1>

    <%= form_tag '', method: :get do %>
    <div class="row">
      <div class="small-5 columns">
        <% selectors_to_render.each do |selector| %>
          <%= yield selector %>
        <% end %>

        <div class="row">
          <div class="small-12 columns">
            <% if selectors_to_render.any? %>
              <%= submit_tag t('.show'), id: 'summary_header_submit', class: 'tiny button' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="small-7 columns end">
        <%= render 'reports/shared/buttons' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
