<%= form_for([@sheet, @entry]) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time_type %><br />
    <%= f.collection_select :time_type_id, TimeType.all, :id, :name %>
  </div>
  
  <%= f.fields_for :schedule_attributes, f.object.schedule_attributes do |o| %>
    <div class="field">
      <%= o.label :start_time %>
      <%= o.text_field :start_time %>
    </div>

    <div class="field">
      <%= o.label :end_time %>
      <%= o.text_field :end_time %>
    </div>

    <div class="field">
      <%= o.label :repeats %>
      <%= o.select :repeat_unit, ['daily', 'weekly', 'monthly', 'yearly'] %>
    </div>

    <fieldset>
      <legend>Daily</legend>
      <div class="field">
        <%= o.label :daily_repeat_every %>
        <%= o.select :daily_repeat_every, (1..30).map(&:to_s) %> days
      </div>
    </fieldset>

    <fieldset>
      <legend>Weekly</legend>
      <div class="field">
        <%= o.label :weekly_repeat_every %>
        <%= o.select :weekly_repeat_every, (1..30).map(&:to_s) %> weeks
      </div>
      <div class="field">
        <%= o.label :weekly_repeat %><br/>
        <% {'Monday' => 1, 'Tuesday' => 2, 'Wednesday' => 3, 'Thursday' => 4, 'Friday' => 5, 'Saturday' => 6, 'Sunday' => 7}.each_pair do |name, day_nr| %>
          <%
            weekdays = o.object.weekly_repeat_weekday
            checked = weekdays.nil? ? false : weekdays.include?(day_nr)
          %>
          <%= check_box_tag 'time_entry[schedule_attributes][weekly_repeat_weekday][]', day_nr, checked %>
          <%= name %><br/>
        <% end %>
      </div>
    </fieldset> 

    <fieldset>
      <legend>Monthly</legend>
      <div class="field">
        <%= o.label :monthly_repeat_every %>
        <%= o.select :monthly_repeat_every, (1..30).map(&:to_s) %> months
      </div>
      <div class="field">
        <%= o.label :monthly_repeat_by %>
        <%= o.radio_button :monthly_repeat_by, 'day' %> 
        <%= o.label :monthly_repeat_by, 'Day of the month', value: 'day' %>
        <%= o.radio_button :monthly_repeat_by, 'weekday' %>
        <%= o.label :monthly_repeat_by, 'Day of the week', value: 'weekday' %>
      </div>
    </fieldset> 
    
    <fieldset>
      <legend>Yearly</legend>
      <div class="field">
        <%= o.label :yearly_repeat_every %>
        <%= o.select :yearly_repeat_every, (1..30).map(&:to_s) %> years
      </div>
    </fieldset> 
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
