<%= form_for([@user,@employment]) do |f| %>
  <% if @employment.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@employment.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @employment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
      <%= f.text_field :workload %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.text_field :start_date %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.text_field :end_date %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit class: 'button' %>
      <%= link_to t('.back'), user_path(@user), class: 'button secondary' %>
    </div>
  </div>
<% end %>
