<%= form_for([@time_sheet, @entry]) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %>
    <%= f.label :type, 'Time', value: 'TimeEntry' %>
    <%= f.radio_button :type, 'TimeEntry' %><br/>
    <%= f.label :type, 'Date', value: 'DateEntry' %>
    <%= f.radio_button :type, 'DateEntry' %>
  </div>

  <div class="field">
    <%= f.label :time_type %><br/>
    <%= f.collection_select :time_type_id, TimeType.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.datetime_select :start_time %><br/>
    <%= f.datetime_select :end_time %>
  </div>

  <div class="field">
    <%= f.date_select :start_date %><br/>
    <%= f.date_select :end_date %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

