<%= form_for(@time_type) do |f| %>
  <% if @time_type.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@time_type.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @time_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :is_work %>
    <%= f.check_box :is_work %>
  </div>

  <div class="field">
    <%= f.label :is_vacation %>
    <%= f.check_box :is_vacation %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
