<%= form_for(@time_type) do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="small-3 columns">
      <%= content_tag(:span, TimeType.human_attribute_name(:icon)) %> <small><a href="#" class="clear-icon"><%= t '.clear' %></a></small>
      <%= f.hidden_field :icon %>
      <%= list_available_icons(f.object.icon) %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.text_field :calculation_factor, class: 'small-2 columns' %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.select :is_work, [[t('.work'), true], [ t('.absence'), false]], label: t('.acquired_as') %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.check_box :is_vacation %>
    </div>
  </div>


  <div class="row buttons">
    <div class="small-12 columns">
      <%= f.submit class: 'button' %>
      <%= link_to t('.back'), time_types_path, class: 'button secondary' %>
    </div>
  </div>
<% end %>
