<%= form_for(@time_type) do |f| %>
  <% if @time_type.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@time_type.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @time_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
      <%= f.text_field :name, label: t('.name') %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.text_field :calculation_factor, label: t('.calculation_factor'), class: 'small-2 columns' %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.select :is_work, [[t('.work'), true], [ t('.absence'), false]], label: t('.acquired_as') %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.check_box :is_vacation, label: t('.is_vacation') %>
    </div>
  </div>

  <div class="row buttons">
    <div class="small-12 columns">
      <%= f.submit class: 'button' %>
      <%= link_to t('.back'), time_types_path, class: 'button secondary' %>
    </div>
  </div>
<% end %>
