<div class="row">
  <div class="small-12 columns">
    <h1>
      <%= TimeType.model_name.human %>
      <%= link_to icon('plus') + ' ' + t('.new_time_type'), new_time_type_path, class: 'button right' %>
    </h1>

    <% if notice %>
    <div id="notice" class="alert-box success">
      <%= notice %>
    </div>
    <% end %>

    <table class="nice small-12 edit destroy">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th><%= TimeType.human_attribute_name :name %></th>
          <th><%= TimeType.human_attribute_name :acquired_as %></th>
          <th><%= TimeType.human_attribute_name :calculation_factor %></th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      <% @time_types.each do |time_type| %>
      <tr>
        <td><%= icon(time_type.icon) %></td>
        <td><%= time_type.name %></td>
        <td><%= t(".#{time_type.kind}") %></td>
        <td><%= number_with_precision(time_type.calculation_factor, strip_insignificant_zeros: true) %></td>
        <td>
          <%= link_to icon('edit'), edit_time_type_path(time_type) %>
        </td>
        <td>
          <%= link_to icon('trash'), time_type, method: :delete, confirm: t('.confirm_delete') %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
