<div class="row">
  <div class="small-12 columns">
    <table class="nice small-12">
      <% activities_by_type.each_pair do |type, activities| %>
        <thead>
          <tr>
            <th><%= type %></th>
            <th>00:00</th>
            <th><%= t '.is_billable' %></th>
            <th>00:00</th>
          </tr>
        </thead>
        <tbody>
          <% activities.each do |activity| %>
          <tr class="summary-row" >
            <td><%= activity.date %> - <%= activity.user %> - <%= activity.description %></td>
            <td><%= format_duration(activity.duration) %></td>
            <td><input type="checkbox"></td>
            <td>&nbsp;</td>
          </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
