<%= render partial: 'summaries/shared/header', locals: {base_url: "/users/summaries/absence/:year", append_to_url: "/as/calendar", title: t('.title'), unit: t('.unit'), with_calendar: true} %>

<div class="content-summary row">
  <div class="small-12 columns">
    <table class="nice small-12 calendar">
      <tr>
        <th><%= l @days.first, format: t('.month_in_year') %></td>
        <% @days.each do |day| %>
          <th <% unless @public_holidays[day].empty? %>class="public-holiday has-tip" data-tooltip="<%=render(partial: 'shared/public_holiday_tooltip', locals: { public_holiday: @public_holidays[day].first }).to_s%>" <% end %>"><%= day.strftime('%d') %></th>
        <% end %>
      </tr>

      <% @users.each do |user| %>
      <tr>
        <td><%= user %></td>
        <% @days.each do |day| %>
          <% absences = @absences[user][day] %>
          <td class="event
          <% unless @public_holidays[day].empty? %>public-holiday<% end %>
          <% unless @work_days[day] %>non-work-day<% end %>
          <% unless absences.nil? %>has-tip<% end %>"
           <% unless absences.nil? %>data-tooltip="<%=render(partial: 'shared/absences_tooltip', locals: { absences: absences, edit: false}).to_s%>" <% end %>
            >
            <div class="event-container">
              <%= render_absences(absences).html_safe %>
            </div>
          </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>
