<div class="head">
  <%= l @weekdays.first, :format => :long %> – <%= l @weekdays.last, :format => :long %> (<%= t('.week_number') %> <%= @weekdays.first.cweek %>)

  <div class="right">
    <span>
      <form>
        <input type="text" class="jump-date hidden" data-jump-url="<%= url_for(date: '') %>" data-current-day="<%= @day.to_formatted_s(:iso) %>">
      </form>
      <% unless @day.today? %>
        <a href="<%= url_for(date: nil) %>" class="small secondary today button"><%= t '.today' %></a>
      <% end %>
      <a href="#" class="jump-date-starter"><i class="icon-calendar"></i></a>
      <a href="<%= url_for(date: @previous_week_day.to_formatted_s(:iso)) %>" class="previous"><span class="icon-caret-left"></span></a>
      <a href="<%= url_for(date: @next_week_day.to_formatted_s(:iso)) %>" class="next"><span class="icon-caret-right"></span></a>
    </span>
  </div>

</div>
