<div class="weekdays">
  <ul>
    <% @weekdays.each do |weekday| %>
      <li>
        <a href="<%= url_for(date: weekday.to_formatted_s(:iso)) %>" class="<%= 'active' if weekday == @day %>">
          <span class="day-description">
            <span class="day">
              <span class="show-for-large-up">
                <%= l weekday, format: :weekday %>
              </span>
              <span class="show-for-medium-down">
                <%= l weekday, format: :short %>
              </span>
              <% if @absences && @absences[weekday] %>
                <%= @absences[weekday].map{ |chunk| icon_for_time_type(chunk.time_type) }.join.html_safe %>
              <% end %>
              <% if @public_holidays[weekday] %>
                <i class="icon-flag public-holiday-color" title="<%= @public_holidays[weekday].name %>"></i>
              <% end %>
            </span>
            <% if @public_holidays[weekday] && @public_holidays[weekday].whole_day? %>
              <span class="public-holiday"><%= @public_holidays[weekday].name %></span>
            <% else %>
              <span class="time total <%= 'active' if weekday == @day %>"><%= formatted_worktime_for_day(weekday) %></span>
            <% end %>
          </span>
        </a>
      </li>
    <% end %>
    <li class="weeksummary total">
      <div>
        <span class="total"><%= t '.total' %></span>
        <br>
        <span class="time week-total">00:00</span>
      </div>
    </li>
  </ul>
</div>
