<div class="row">
  <div class="small-12 columns">
   <h1><%= t '.title' %> <small><%= t '.unit' %></small></h1>
 </div>
</div>

<div class="content-summary row">
  <div class="small-12 columns">
    <table class="nice small-12">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th class="value work"><%= t 'summaries.work.columns.effective_worked' %></th>
          <th class="value work"><%= t 'summaries.work.columns.absent' %></th>
          <th class="value work"><%= t 'summaries.work.columns.time_bonuses' %></th>
          <th class="value work"><%= t 'summaries.work.columns.target' %></th>
          <th class="value work"><%= t 'summaries.work.columns.overtime' %></th>
          <th class="value work"><%= t 'summaries.work.columns.running_overtime' %></th>
        </tr>
      </thead>
      <tbody>
        <% @entries.each_pair do |range, entry| %>
        <% user, summary = entry.first %>
        <tr class="summary-row">
          <td><%= link_to label_for_month(range.min), action: :month, month: range.min.month %></td>
          <% tooltip_effective_worked = types_to_tooltip_table(summary[:effective_worked_by_type]) %>
          <td><span <% unless tooltip_effective_worked.blank? %>class="has-tip" data-tooltip="<%=tooltip_effective_worked%>"<% end %>><%= format_hours(summary[:effective_worked]) %></span></td>
          <% tooltip_absent = types_to_tooltip_table(summary[:absent_by_type]) %>
          <td><span <% unless tooltip_absent.blank? %>class="has-tip" data-tooltip="<%=tooltip_absent%>"<% end %>><%= format_hours(summary[:absent]) %></span></td>
          <td><%= format_hours(summary[:time_bonus]) %></td>
          <td><%= format_hours(summary[:planned_work]) %></td>
          <td><%= format_hours(summary[:overtime]) %></td>
          <td><%= format_hours(summary[:running_overtime]) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
