<%= form_for(@user) do |f| %>
<div class="row">
  <div class="small-4 columns">
    <%= f.text_field :email %>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <%= f.text_field :given_name %>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <%= f.text_field :name %>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <%= f.text_field :birthday %>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <%= field_set_tag User.human_attribute_name(:teams) do %>
      <%= hidden_field_tag 'user[team_ids][]', nil %>
      <% Team.all.each do |team| %>
        <label for="<%= dom_id(team) %>">
          <%= check_box_tag('user[team_ids][]', team.id, @user.teams.include?(team), id: dom_id(team)) %>
          <%= team %>
        </label>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-3 columns">
    <%= f.submit class: 'button'%>
  </div>
  <div class="small-2 columns end">
    <%= link_to t('.back'), users_path, class: "secondary button" %>
  </div>
</div>
<% end %>
