<div class="row users">
  <div class="small-12 columns">
    <h1>
      <%= User.model_name.human %>
      <%= link_to icon('plus') + ' ' + t('.new_user'), new_user_path, class: 'button right' %>
    </h1>

    <table class="nice small-12 edit destroy">
      <tbody>
        <% @users.each do |user| %>
        <tr class='user'>
          <td>
            <% unless user.active? %>
              <span class='radius label status'><%= t '.inactive' %></span>
            <% end %>
            <strong><%= user %></strong>

            <% if user.active? %>
              <%= link_to(t('.deactivate'), deactivate_user_path(user), :method => :put, class: 'activate right') %>
            <% else %>
              <%= link_to(t('.activate'), activate_user_path(user), :method => :put, class: 'activate right') %>
            <% end %>
          </td>
          <td class="action">
            <%= link_to icon('group'), user_roles_path(user) %>
          </td>
          <td class="action">
            <%= link_to icon('file-text'), user_employments_path(user) %>
          </td>
          <% if user.editable? %>
            <td class="action">
              <%= link_to icon('edit'), edit_user_path(user) %>
            </td>
            <td class="action">
              <%= link_to icon('trash'), user, method: :delete, confirm: t('.confirm_delete') %>
            </td>
          <% else %>
            <td class="action disabled">
              <%= icon('edit') %>
            </td>
            <td class="action disabled">
              <%= icon('trash') %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
