<fieldset>
  <legend>Recurring</legend>
  <%= main_form.fields_for :recurring_schedule do |rs| %>
  <div class="field">
    <%= rs.label :active %>
    <%= rs.check_box :active %>
  </div>

  <div class="field">
    <%= rs.label :ends %>
    <%= rs.radio_button :ends, 'counter' %>
    <%= rs.label :ends, 'After number of occurrences', value: 'counter' %> <%= rs.text_field :ends_counter %><br/>
    <%= rs.radio_button :ends, 'date' %>
    <%= rs.label :ends, 'On', value: 'date' %> <%= rs.text_field :ends_date %><br/>
  </div>

  <fieldset>
    <legend>Weekly</legend>
    <div class="field">
      <%= rs.label :weekly_repeat_interval %>
      <%= rs.select :weekly_repeat_interval, (1..30).map(&:to_s) %> weeks
    </div>
  </fieldset>
  <% end %>
</fieldset>
