<%= render partial: 'summaries/shared/header', locals: {base_url: "/users/#{@user.id}/summaries/absence/:year", title: t('.title'), unit: t('.unit')} %>

<div class="content-summary row">
  <div class="small-12 columns">
    <table class="nice small-12">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <% TimeType.absence.each do |time_type| %>
          <th><%= time_type.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @table.entries.each_pair do |range, entry| %>
        <% user, summary = entry.first %>
        <tr>
          <td><%= label_for_month(range.min) %></td>
          <% TimeType.absence.each do |time_type| %>
          <td><%= format_work_days(summary[time_type]) %></td>
          <% end %>
        </tr>
        <% end %>
        <tr>
          <td><%= t '.total' %></td>
          <% TimeType.absence.each do |time_type| %>
          <td><%= format_work_days(@table.total(time_type)) %></td>
          <% end %>
        </tr>
        <tr class="total">
          <td><%= t('.remaining') %></td>
          <% TimeType.absence.each do |time_type| %>
          <td>
            <% unless @remaining[time_type].blank? %>
              <%= format_work_days(@remaining[time_type]) %>
            <% end %>
          </td>
          <% end %>
        </tr>

      </tbody>
    </table>
  </div>

