<table class="summary">
  <thead>
    <tr class="header">
      <th colspan="5">
        <div>
          <%= @summary_title %>
        </div>
      </th>
    </tr>
    <tr class="subheader">
      <th>&nbsp;</th>
      <th class="value">Ist</th>
      <th class="value">Soll</th>
      <th class="value">&Delta;</th>
      <th class="value">&Sigma;</th>
    </tr>
  </thead>
  <tbody>
    <% @summary.each do |summary| %>
    <tr>
      <td><%= link_to summary[:name], summary[:link] %></td>
      <td><%= format_hours(summary[:worked]) %></td>
      <td><%= format_hours(summary[:planned]) %></td>
      <td><%= format_hours(summary[:overtime]) %></td>
      <td><%= format_hours(summary[:sum]) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
