<div class="row">
  <div class="large-12 columns">
    <div class="timesheet">
      <div class="head">
        <%= l @weekdays.first, :format => :long %> -  <%= l @weekdays.last, :format => :long %>
        <div class="right">
          <a href="#"><span class="icon-caret-left"></span></a>
          <a href="#"><span class="icon-caret-right"></span></a>
        </div>
      </div>
      <div class="weekdays">
        <ul>
          <% @weekdays.each do |weekday| %>
            <li>
              <% if weekday == @weekdays.third %>
                <a href="#" class="active">
                  <span class="day"><%= l weekday, format: '%A' %></span>
                  <br>
                  <span class="time">10:00</span>
                </a>
              <% else %>
                <a href="#">
                  <span class="day"><%= l weekday, format: '%A' %></span>
                  <br>
                  <span class="time">10:00</span>
                </a>
              <% end %>
            </li>
          <% end %>
          <li class="weeksummary">
            <div>
              <span class="total"><%= t '.total' %></span>
              <br>
              <span class="time">10:00</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="entries">
        <ul>
          <% @time_entries.each do |time_entry| %>
            <li>
              <%= l time_entry.starts %> - <%= l time_entry.ends %>
              <small><%= time_entry.time_type %></small>
              <div class="right">
                <%= Time.at(time_entry.duration).utc.strftime("%H:%M") %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
