<% @time_entries.inspect %>
<div class="row">
  <div class="large-12 columns">
    <div class="timesheet">
      <div class="head">
        <%= l @weekdays.first, :format => :long %> -  <%= l @weekdays.last, :format => :long %>
        <div class="right">
          <a href="<%= url_for(action: :show, date: @previous_week_day.to_formatted_s(:iso)) %>"><span class="icon-caret-left"></span></a>
          <a href="<%= url_for(action: :show, date: @next_week_day.to_formatted_s(:iso)) %>"><span class="icon-caret-right"></span></a>
        </div>
      </div>
      <div class="weekdays">
        <ul>
          <% @weekdays.each do |weekday| %>
            <li>
              <a href="<%= url_for(action: :show, date: weekday.to_formatted_s(:iso)) %>" class="<%= 'active' if weekday == @day %>">
                <span class="day"><%= l weekday, format: '%A' %></span>
                <br>
                <span class="time"><%= l Time.at(@time_sheet.total(weekday, :work)) %></span>
              </a>
            </li>
          <% end %>
          <li class="weeksummary">
            <div>
              <span class="total"><%= t '.total' %></span>
              <br>
              <span class="time"><%= l Time.at(@time_sheet.total(@week, :work)) %></span>
            </div>
          </li>
        </ul>
      </div>
      <div class="entries">
        <ul>
          <% @time_entries.each do |time_entry| %>
            <li>
              <%= l time_entry.starts %> - <%= l time_entry.ends %>
              <small><%= time_entry.time_type %></small>
              <div class="right">
                <%= l Time.at(time_entry.duration) %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= render 'add_time_modal' %>
