<%
  week = (Time.zone.today.at_beginning_of_week..Time.zone.today.next_week)
  
  year = week.min.year
%>
<div class="hero-unit">
  <h3><%= @time_sheet.user.name %></h3>
  <table class="table">
    <thead>
      <tr>
        <th colspan="2">Week Summary</th>
        <th colspan="2">Vacation <%=year%></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Work</td>
        <td><%= format_duration(@time_sheet.total(week, :work), :work) %></td>

        <td>Redeemed</td>
        <td><%= format_duration(@time_sheet.vacation(year), :vacation, :work_days) %></td>
      </tr>
      <tr>
        <td>Overtime</td>
        <td><%= format_duration(@time_sheet.overtime(week), :overtime) %></td>

        <td>Remaining</td>
        <td><%= format_duration(@time_sheet.remaining_vacation(year), :vacation, :work_days) %></td>
      </tr>
      <% 
        onduty = @time_sheet.total(week, :onduty)
        if onduty != 0 
      %>
      <tr>
        <td>On duty</td>
        <td><%= format_duration(onduty, :onduty) %></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <%
        end
      %>
    </tbody>
  </table>
  <table class="table">
    <tr>
      <th>Current time</th>
      <td><%=Time.zone.now%></td>
    </tr>
    <tr>
      <th>Last visit</th>
      <td><%=Time.zone.now%></td>
    </tr>
  </table>
</div>
<% if notice %>
<div id="notice" class="alert alert-success">
  <%= notice %>
</div>
<% end %>
<%= link_to 'New Single Entry', new_time_sheet_single_entry_path(@time_sheet), class: 'btn btn-primary btn-small' %>
<%= link_to 'New Recurring Entry', new_time_sheet_recurring_entry_path(@time_sheet), class: 'btn btn-primary btn-small' %>
<br/>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Duration</th>
      <th>Type</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
<%
  days = week.to_a
  days.pop # ignore the 8th day
  days.each do |date|
%>
  <tr <%=raw UberZeit::is_work_day?(date) ? '' : 'style="background-color: #CCC"' %>>
    <th colspan="5"><%=date.strftime('%A, %d.%m.%Y')%></th>
  </tr>
  <tbody>
    <% @time_sheet.find_chunks(date).each do |entry| %>
    <tr>
      <% 
        if entry.parent.respond_to?(:whole_day?) && entry.parent.whole_day?
      %> 
        <td colspan="2"><em>Whole day</em></td>
      <%
        else
      %>
        <td><%= entry.starts.strftime("%R")  %></td>
        <td><%= entry.ends.strftime("%R") %></td>
      <%
        end
      %>
      <td><%= format_duration(entry.duration, entry.time_type) %></td>
      <td><%= entry.time_type %></td>
      <td>
      <% case entry.parent %>
      <% when SingleEntry %>
        <%= link_to 'Edit', edit_time_sheet_single_entry_path(@time_sheet, entry.parent), :class => 'btn btn-small' %>
        <%= link_to 'Destroy', [@time_sheet, entry.parent], :class => 'btn btn-danger btn-small', :method => :delete, :data => { :confirm => 'Are you sure?' } %>
      <% when RecurringEntry %>
        <%= link_to 'Edit', edit_time_sheet_recurring_entry_path(@time_sheet, entry.parent), :class => 'btn btn-small' %>
        <%= link_to 'Destroy', [@time_sheet, entry.parent], :class => 'btn btn-danger btn-small', :method => :delete, :data => { :confirm => 'Are you sure?' } %>
      <% end %>
      </td>
    </tr>
    <% end %>

    <% 
      date_work = @time_sheet.total(date, :work)
      date_overtime = @time_sheet.overtime(date)
      if date_work != 0 || date_overtime != 0 
    %>
    <tr>
      <td colspan="5">
        Daily Work: <%= format_duration(date_work, :work) %><br/>
        Daily Overtime: <%= format_duration(date_overtime, :overtime)  %>
      </td>
    </tr>
    <%
      end
    %>
  </tbody>
<%
  end
%>
</table>
