<%= render(partial: 'shared/user_select', locals: { link_generator: :user_path_time_sheet, selected_user: @time_sheet.user }) %>

<div class="row">
  <div class="large-12 columns">
    <% unless @timers_other_days.empty? %>
      <div data-alert class="alert-box">
        <i class='icon-time'></i>
        <%= t '.timer_running_warning', count: @timers_other_days.length %>
        <%= running_timer_dates(@timers_other_days) %>.
      </div>
    <% end %>

    <%= link_to '', {action: :summary_for_date, date: @day}, remote: true, class: 'hide ajax summary_for_date' %>

    <div class="timesheet">
      <div class="head">
        <%= l @weekdays.first, :format => :long %> – <%= l @weekdays.last, :format => :long %>
        <div class="right">
          <a href="<%= url_for(action: :show, date: Date.today.to_formatted_s(:iso)) %>" class="button tiny today"><%= t '.today' %></a>
          <a href="<%= url_for(action: :show, date: @previous_week_day.to_formatted_s(:iso)) %>" class="previous"><span class="icon-caret-left"></span></a>
          <a href="<%= url_for(action: :show, date: @next_week_day.to_formatted_s(:iso)) %>" class="next"><span class="icon-caret-right"></span></a>
        </div>
      </div>
      <div class="weekdays">
        <ul>
          <% @weekdays.each do |weekday| %>
            <li>
              <a href="<%= url_for(action: :show, date: weekday.to_formatted_s(:iso)) %>" class="<%= 'active' if weekday == @day %>">
                <span class="day-description">
                  <span class="day">
                    <span class="show-for-large-up">
                      <%= l weekday, format: :weekday %>
                    </span>
                    <span class="show-for-medium-down">
                      <%= l weekday, format: :short %>
                    </span>
                    <% if @absences[weekday] %>
                      <%= @absences[weekday].map{ |chunk| icon_for_time_type(chunk.time_type) }.join.html_safe %>
                    <% end %>
                    <% if @public_holidays[weekday] %>
                      <i class="icon-flag public-holiday-color" title="<%= @public_holidays[weekday].name %>"></i>
                    <% end %>
                  </span>
                  <% if @public_holidays[weekday] && @public_holidays[weekday].whole_day? %>
                    <span class="public-holiday"><%= @public_holidays[weekday].name %></span>
                  <% else %>
                    <span class="time <%= 'active' if weekday == @day %>"><%= worktime_for_day(weekday) %></span>
                  <% end %>
                </span>
              </a>
            </li>
          <% end %>
          <li class="weeksummary total">
            <div>
              <span class="total"><%= t '.total' %></span>
              <br>
              <span class="time">
                <%= worktime_for_week(@week) %>
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="entries">
        <% if @time_chunks.length > 0 || @timer_active || @public_holidays[@day] || @absences[@day] %>
        <ul>
          <!-- PUBLIC HOLIDAYS -->
          <% if @public_holiday %>
            <li>
              <i class="icon-flag public-holiday-color"></i><%= @public_holiday.name %>
              <div class="right">
                <small><%= part_of_day(@public_holiday) %></small>
              </div>
            </li>
          <% end %>
          <!-- ABSENCES -->
          <% if @absences[@day] %>
            <% @absences[@day].each do |time_chunk| %>
            <li>
              <%= icon_for_time_type(time_chunk.time_type) %><%= time_chunk.time_type %>
              <div class="right">
                <small><%= part_of_day(time_chunk) %></small>
              </div>
            </li>
            <% end %>
          <% end %>
          <!-- WORK -->
          <% @time_chunks.each do |time_chunk| %>
            <li>
              <% if time_chunk.parent.start_time.to_date != @day %>
                <span class="has-tip" data-tooltip="<%= t('.tooltip.starts') %> <%= l time_chunk.parent.start_time, format: :long %>">
                  <%= l time_chunk.starts %>
                </span>
              <% else %>
                <%= l time_chunk.starts %>
              <% end %>
              –
              <% if time_chunk.parent.end_time.to_date != @day %>
                <span class="has-tip" data-tooltip="<%= t('.tooltip.ends') %> <%= l time_chunk.parent.end_time, format: :long %>">
                  <%= l time_chunk.ends %>
                </span>
              <% else %>
                <%= l time_chunk.ends %>
              <% end %>
              <small>
                <%= time_chunk.time_type %>
                <% unless standard_calculation?(time_chunk.time_type) %>
                <small>(<%= t '.time_bonus' %> <%= time_type_bonus_percentage(time_chunk.time_type) %>: <%= format_duration(time_chunk.time_bonus) %>)</small>
                <% end %>
              </small>
              <div class="right">
                <a href='#' class="edit-time-entry-link remote-reveal" data-reveal-id="edit-time-modal" data-reveal-url="<%= edit_time_sheet_time_entry_path(@time_sheet, time_chunk.parent) %>">
                  <%= icon(:edit) %>
                </a>
                <%= format_duration(time_chunk.duration) %>
              </div>
            </li>
          <% end %>
          <% if @timer_active %>
          <li>
            <%= @timer.from_time %> –
            <small><%= @timer.time_type %></small>
            <div class="right">
              <a href='#' class="edit-time-entry-link remote-reveal" data-reveal-id="edit-time-modal" data-reveal-url="<%= edit_time_sheet_timer_path(@time_sheet, @timer) %>">
                <%= icon(:edit) %>
              </a>
              <a href="<%= url_for(action: :stop_timer, date: @day) %>" data-method="put" data-remote="true" class="stop-timer">
                Stop
              </a>
              <span class="timer-current" data-timer-id="<%=@timer.id%>" data-startdate="<%= @timer.start_date %>" data-starttime="<%= @timer.from_time %>"></span>
            </div>
          </li>
        <% end %>
          <li class="summary">
            <div class="right">
              <%= t '.total' %> <span class="time total">0:00</span>
            </div>
          </li>
        </ul>
        <% else %>
          <div class="no-entries-message">
            <p>
              <%= t '.no_entries_yet_message' %>
              <br>
              <a href="#" data-reveal-id="add-time-modal"><%= t '.add_time_now' %></a>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'add_time_modal' %>
    <%= render 'edit_time_modal' %>
  </div>
</div>
<% if @legend_show_public_holiday || @legend_time_types.any? %>
<div class="row">
  <div class="small-12 columns">
    <%= render 'shared/event_legend', show_public_holiday: @legend_show_public_holiday, time_types: @legend_time_types  %>
  </div>
</div>
<% end %>

