<div class="row">
  <div class="large-12 columns">
    <div class="timesheet">
      <div class="head">
        <%= l @weekdays.first, :format => :long %> – <%= l @weekdays.last, :format => :long %>
        <div class="right">
          <a href="<%= url_for(action: :show, date: @previous_week_day.to_formatted_s(:iso)) %>"><span class="icon-caret-left"></span></a>
          <a href="<%= url_for(action: :show, date: @next_week_day.to_formatted_s(:iso)) %>"><span class="icon-caret-right"></span></a>
        </div>
      </div>
      <div class="weekdays">
        <ul>
          <% @weekdays.each do |weekday| %>
            <li>
              <a href="<%= url_for(action: :show, date: weekday.to_formatted_s(:iso)) %>" class="<%= 'active' if weekday == @day %>">
                <span class="day"><%= l weekday, format: '%A' %></span>
                <br>
                <span class="time"><%= worktime_for_day(weekday) %></span>
              </a>
            </li>
          <% end %>
          <li class="weeksummary">
            <div>
              <span class="total"><%= t '.total' %></span>
              <br>
              <span class="time"><%= worktime_for_week(@week) %></span>
            </div>
          </li>
        </ul>
      </div>
      <div class="entries">
        <% if @time_chunks.length > 0 || @timer_active %>
        <ul>
          <% @time_chunks.each do |time_chunk| %>
            <li>
              <%= l time_chunk.starts %> - <%= l time_chunk.ends %>
              <small><%= time_chunk.time_type %></small>
              <div class="right">
                <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_time_sheet_time_entry_path(@time_sheet, time_chunk.parent), remote: true, class: 'edit-time-entry-link' %>
                <%= format_duration(time_chunk.duration_for_calculation) %>
              </div>
            </li>
          <% end %>
          <% if @timer_active %>
          <li>
            <%= @timer.from_time %> -
            <small><%= @timer.time_type %></small>
            <div class="right">
              <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_time_sheet_timer_path(@time_sheet, @timer), remote: true, class: 'edit-time-entry-link' %>
              <a href="<%= url_for(action: :stop_timer) %>" data-method="put" data-remote="true" class="stop-timer">
                <i class="icon-repeat icon-spin"></i>
                 Stop
              </a>
              <span class="timer-current" data-start="<%= @timer.from_time %>"></span>
            </div>
          </li>
        <% end %>
        </ul>
        <% else %>
          <div class="no-entries-message">
            <p>
              <%= t '.no_entries_yet_message' %>
              <br>
              <a href="#" data-reveal-id="add-time-modal"><%= t '.add_time_now' %></a>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'add_time_modal' %>
    <%= render 'edit_time_modal' %>
  </div>
</div>
