<%= f.hidden_field :start_date %>
<div class="row">
  <div class="small-12 columns">
    <%= f.collection_select :time_type_id, @time_types, :id, :name %>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <%= f.text_field :start_time, class: 'time' %>
  </div>
  <div class="small-4 columns">
    <%= f.text_field :end_time, class: 'time' %>
  </div>
  <div class="small-4 columns time-difference">

  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= f.submit t('.start_timer'), id: 'time_entry_submit', class: 'primary medium button' %>
    <%= link_to t('.cancel'), '#', class: 'close-reveal-modal link' %>
    <% if @timer %>
      <%= link_to t('.delete'), time_sheet_timer_path(@time_sheet, @timer), method: :delete, remote: true, class: 'delete-timer-link' %>
    <% end %>
  </div>
</div>

