<%= render partial: 'reports/shared/time_frame_selector' %>
<%= render partial: 'reports/shared/team_selector' %>

<%= render partial: 'reports/shared/header', locals: {base_url: "/reports/vacation/:year", title: t('.title') } %>

<div class="row">
  <div class="small-12 columns">
    <table class="nice small-12">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th><%= t '.taken', year: @year, month: label_for_month(@month_as_date) %></th>
          <th><%= t '.remaining', year: @year, month: label_for_month(@month_as_date) %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr class="summary-row" >
          <td><%= user %></td>
          <td><%= format_work_days(user.time_sheet.redeemed_vacation(UberZeit.month_as_range(@year, @month))) %></td>
          <td><%= format_work_days(user.time_sheet.remaining_vacation_per(UberZeit.month_as_range(@year, @month).max)) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
