<%= render partial: 'reports/shared/header', locals: {base_url: "/reports/vacation/:year", title: t('.title'), unit: t('.unit')} %>

<div class="row">
  <div class="small-12 columns">
    <table class="nice small-12">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th><%= t '.taken', year: @year, month: label_for_month(@month_as_date) %></th>
          <th><%= t '.remaining', year: @year, month: label_for_month(@month_as_date) %></th>
        </tr>
      </thead>
      <tbody>
        <% @table.entries.each_pair do |user, summary| %>
        <tr class="summary-row" >
          <td><%= user %></td>
          <td><%= format_work_days(summary[:redeemed].to_work_days) %></td>
          <td><%= format_work_days(summary[:remaining].to_work_days) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
