<% @rows.each do |row| %>
<tr class="sub-summary-row <% if @rows.first == row %>first<% end %><% if @rows.last == row %>last<% end %>" data-month="<%=@month%>">
  <%
  tip = ""
  row[:by_type].each_pair do |name, total|
    next if total == 0
    tip += ("<div class='tr'><div class='td'>#{name}</div><div class='td'>#{format_hours(total)}</div></div>").html_safe
  end
  %>
  <td class="indentation"></td>
  <td><%= link_to row[:name], row[:link], target: '_blank' %></td>
  <td><span <% unless tip.blank? %>data-tooltip class="has-tip" title="<div class='tbl-tooltip'><%=tip%></div>"<% end %>><%= format_hours(row[:worked]) %></span></td>
  <td><%= format_hours(row[:planned]) %></td>
  <td><%= format_hours(row[:overtime]) %></td>
  <td><%= format_hours(row[:sum]) %></td>
</tr>
<% end %>
