<%= render partial: 'header', locals: {title: t('.absence_summary'), year: @year, path: :absence_summary_time_sheet_path, unit: t('.days')} %>
<div class="row">
  <div class="small-12 columns">
    <table class="nice small-12">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <% TimeType.absence.each do |time_type| %>
          <th class="value absence"><%= time_type.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @rows.each do |row| %>
        <tr class="summary-row" data-month="<%=row[:month]%>" <% if row[:hide] %>style="display: none;"<% end %>>
          <td><%= link_to row[:name], row[:link], remote: true %></td>
          <% TimeType.absence.each do |time_type| %>
          <td><%= format_work_days(row[time_type.id]) %></td>
          <% end %>
        </tr>
        <% end %>
        <tr class="total">
          <td><%= t('.total') %></td>
          <% TimeType.absence.each do |time_type| %>
          <td><%= format_work_days(@total[time_type.id]) %></td>
          <% end %>
        </tr>
        <tr class="total">
          <td><%= t('.remaining') %></td>
          <% TimeType.absence.each do |time_type| %>
          <td>
            <% unless @remaining[time_type.id].blank? %>
              <%=format_work_days(@remaining[time_type.id]) %>
            <% end %>
          </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

</div>
