<%= render partial: 'header', locals: {title: t('.work_summary'), year: @year, path: :work_summary_time_sheet_path, unit: t('.hours')} %>
<div class="content-summary row">
  <div class="small-12 columns">
    <table class="nice small-12">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th class="value work"><%= t '.effective_worked' %></th>
          <th class="value work"><%= t '.absent' %></th>
          <th class="value work"><%= t '.time_bonuses' %></th>
          <th class="value work"><%= t '.target' %></th>
          <th class="value work"><%= t '.overtime' %></th>
          <th class="value work"><%= t '.running_overtime' %></th>
        </tr>
      </thead>
      <tbody>
        <% @rows.each do |row| %>
        <tr class="summary-row" data-month="<%=row[:month]%>" <% if row[:hide] %>style="display: none;"<% end %>>
          <td><%= link_to row[:name], row[:link], remote: true %></td>
          <% tooltip_effective_worked = types_to_tooltip_table(row[:effective_worked_by_type]) %>
          <% tooltip_absent = types_to_tooltip_table(row[:absent_by_type]) %>
          <td><span <% unless tooltip_effective_worked.blank? %>class="has-tip" data-tooltip="<%=tooltip_effective_worked%>"<% end %>><%= format_hours(row[:effective_worked]) %></span></td>
          <td><span <% unless tooltip_absent.blank? %>class="has-tip" data-tooltip="<%=tooltip_absent%>"<% end %>><%= format_hours(row[:absent]) %></span></td>
          <td><%= format_hours(row[:time_bonus]) %></td>
          <td><%= format_hours(row[:planned]) %></td>
          <td><%= format_hours(row[:overtime]) %></td>
          <td><%= format_hours(row[:sum]) %></td>
        </tr>
        <% end %>
        <% if @rows.any? { |s| s[:hide] == true } %>
        <tr class="expand-row">
          <td colspan="6"><a href="#" class="unhider" data-unhide-class="summary-row" data-hide-class="expand-row" title="<%= t '.expand' %>"><i class='icon-chevron-down'></i></a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
