<%= render partial: 'header', locals: {title: t('.work_summary'), year: @year, path: :work_summary_time_sheet_path} %>
<div id="content-summary" class="row">
  <div class="small-10 columns">
    <table class="summary nice">
      <thead>
        <tr class="header">
          <th colspan="6">
            <div>
              <%= t '.total_working_time_in_hours' %>
            </div>
          </th>
        </tr>
        <tr class="header">
          <th colspan="2">&nbsp;</th>
          <th class="work-value"><%= t '.worked' %></th>
          <th class="work-value"><%= t '.target' %></th>
          <th class="work-value"><%= t '.overtime' %></th>
          <th class="work-value"><%= t '.running_total' %></th>
        </tr>
      </thead>
      <tbody>
        <% @rows.each do |row| %>
        <tr class="summary-row" data-month="<%=row[:month]%>" <% if row[:hide] %>style="display: none;"<% end %>>
          <%
          tip = ""
          row[:by_type].each_pair do |name, worked|
            if worked != 0
              tip += ("<div class='tr'><div class='td'>#{name}</div><div class='td'>#{format_hours(worked)}</div></div>").html_safe
            end
          end
          %>
          <td colspan="2"><%= link_to row[:name], row[:link], remote: true %></td>
          <td><span <% unless tip.blank? %>data-tooltip class="has-tip" title="<div class='tbl-tooltip'><%=tip%></div>"<% end %>><%= format_hours(row[:worked]) %></span></td>
          <td><%= format_hours(row[:planned]) %></td>
          <td><%= format_hours(row[:overtime]) %></td>
          <td><%= format_hours(row[:sum]) %></td>
        </tr>
        <% end %>
        <% if @rows.any? { |s| s[:hide] == true } %>
        <tr class="expand-row">
          <td colspan="6"><a href="#" class="unhider" data-unhide-class="summary-row" data-hide-class="expand-row" title="<%= t '.expand' %>"><i class='icon-chevron-down'></i></a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
