<%= render partial: 'header', locals: {title: t('.work_summary'), year: @year, path: :work_summary_time_sheet_path, unit: t('.hours')} %>
<div id="content-summary" class="row">
  <div class="small-12 columns">
    <table class="nice small-12">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th class="value work"><%= t '.worked' %></th>
          <th class="value work"><%= t '.target' %></th>
          <th class="value work"><%= t '.overtime' %></th>
          <th class="value work"><%= t '.running_overtime' %></th>
        </tr>
      </thead>
      <tbody>
        <% @rows.each do |row| %>
        <tr class="summary-row" data-month="<%=row[:month]%>" <% if row[:hide] %>style="display: none;"<% end %>>
          <% tooltip = types_to_tooltip_table(row[:by_type]) %>
          <td><%= link_to row[:name], row[:link], remote: true %></td>
          <td><span <% unless tooltip.blank? %>data-tooltip class="has-tip" title="<%=tooltip%>"<% end %>><%= format_hours(row[:worked]) %></span></td>
          <td><%= format_hours(row[:planned]) %></td>
          <td><%= format_hours(row[:overtime]) %></td>
          <td><%= format_hours(row[:sum]) %></td>
        </tr>
        <% end %>
        <% if @rows.any? { |s| s[:hide] == true } %>
        <tr class="expand-row">
          <td colspan="6"><a href="#" class="unhider" data-unhide-class="summary-row" data-hide-class="expand-row" title="<%= t '.expand' %>"><i class='icon-chevron-down'></i></a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
