<style type="text/css">
  @-webkit-keyframes swingitbaby
  {
    50%     {-webkit-transform: rotate(20deg);}
    100%     {-webkit-transform: rotate(0deg);}
  }

  .swingitbaby:hover{
    -webkit-animation:swingitbaby 0.45s 2;
  }

</style>

<script>
  $(document).ready(function() {
    function timedCount(element, counter, interval, end, timeout) {
        if(counter <= parseFloat(end)) {
            counter = counter + interval;
            setTimeout(timedCount, timeout, element, counter, interval, end, timeout);
        } else {
            counter = parseFloat(end);
        }
        decimal_places = 1;
        if(parseFloat(end) % 1 === 0) {
          decimal_places = 0;
        }
        suffix = '';
        if(end.toString().indexOf('%') >= 0) {
          suffix = '%';
        }
        element.html(counter.toFixed(decimal_places) + suffix);
    }

    $('[data-count-from][data-count-to]').each(function(index, element) {
        var start, end, interval, counter, timeout;

        element = $(element);
        start = element.data('count-from');
        end = element.data('count-to');
        timeout = element.data('count-timeout');
        if(timeout == undefined) {
             timeout = 20;
        }

        interval = parseFloat(end) / 90;
        counter = parseFloat(start);

        element.html(start);
        timedCount(element, counter, interval, end, timeout);
    });
  });
</script>

<style>
  .absence-list {
    font-size: 1em;
    font-weight: bold;
    color: #333;
  }

  .absence-list .date {
    float: left;
    font-size: 1em;
    font-weight: bold;
    color: #333;
  }

  .absence-list .user {
    float: left;
    width: 5em;
    text-align: left;
  }

  .absence-list .entry {
    margin: 0.3em;
  }

  .absence-list .absence {
    float: right;
  }

  .absence-list i {
    color: white ;
  }
</style>

<div class="content-summary row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
        <div class="panel sensational callout">
          <p><%= t('.panels.uberstunden.info1_html') %></p>
          <p class="crazy lo"><%= awesome_hours_and_minutes(@uberstunden) %></p>
          <p><%= t('.panels.uberstunden.info2_html') %></p>
          <p class="crazy yo"><%= awesome_work_days(@uberstunden) %>!</p>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel sensational">
          <p><%= t('.panels.month.info1_html', month: awesome_tag(l(Date.today, format: '%B'))) %><p>
          <p class="crazy yo"><%= t('.panels.month.emphasis1_html', percent: awesome_percent(@month_percent_done)) %></p>
          <p><%= t('.panels.month.info2_html') %></p>
          <p class="crazy lo"><%= awesome_hours_and_minutes(@month_total_work) %>!</p>
          <i class="icon-wrench icon-background swingitbaby"></i>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel sensational">
          <h1 class="lo">Deine Absenzen <small>der nächsten 7 Tage</small></h1>
          <div class="absence-list">
          <% @personal_absences.each_pair do |date, absences| %>
            <% absences.each do |absence| %>
              <div class="row entry">
                <div class="date"><%= l date, format: :medium %> <%=raw "<small>#{absence_period(absence)}</small>" %></div>
                <div class="absence label event-bg<%= color_index_of_element(absence) %>">
                  <%= icon_for_time_type(absence.time_type) %>
                  <small><%= absence.time_type %></small>
                </div>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel sensational">
          <h1 class="yo">Team Absenzen <small>der nächsten 7 Tage</small></h1>

          <div class="absence-list">
          <% @team_absences.each_pair do |date, team_absences| %>
            <% team_absences.each do |team_absence| %>
            <%
              absence = team_absence[:chunk]
              user = team_absence[:user]
            %>
              <div class="row entry">
                <div class="user">
                  <%= user.given_name %>
                </div>
                <div class="date"><%= l date, format: :medium %> <%=raw "<small>#{absence_period(absence)}</small>" %></div>
                <div class="absence label event-bg<%= color_index_of_element(absence) %>">
                  <%= icon_for_time_type(absence.time_type) %>
                  <small><%= absence.time_type %></small>
                </div>
              </div>
            <% end %>
          <% end %>
         </div>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel sensational">
          <p><%= t('.panels.vacation.info1_html') %><p>
          <p class="crazy yo"><%= t('.panels.vacation.emphasis1_html', redeemed: awesome_tag("%g" % @vacation_redeemed.to_work_days)) %></p>
          <p><%= t('.panels.vacation.info2_html') %></p>
          <p class="crazy lo"><%= t('.panels.vacation.emphasis2_html', remaining: awesome_tag("%g" % @vacation_remaining.to_work_days)) %></p>
          <i class="icon-plane icon-background"></i>
        </div>
      </div>
  </div>

</div>
