<div class="row">
  <div class="small-12 columns">
    <%= f.collection_select :time_type_id, @time_types, :id, :name %>
  </div>
</div>

<%= f.object.class %>

<% if f.object.start_date != f.object.end_date %>

  <div class="row">
    <div class="small-2 columns">
      <%= f.label :from_time %>
    </div>
    <div class="small-7 columns">
      <%= datefield(f, :start_date, false, f.object.start_date.to_date, :date) %>
    </div>
    <div class="small-3 columns">
      <%= f.text_field :from_time, label: false, class: 'time' %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <%= f.label :to_time %>
    </div>
    <div class="small-7 columns">
      <%= datefield(f, :end_date, false, f.object.end_date.to_date, :date) %>
    </div>
    <div class="small-3 columns">
      <%= f.text_field :to_time, label: false, class: 'time' %>
    </div>
  </div>

<% else %>
  <div class="row">
    <div class="small-4 columns">
      <%= f.text_field :from_time, class: 'time' %>
    </div>
    <div class="small-4 columns">
      <%= f.text_field :to_time, class: 'time' %>
    </div>
    <div class="small-4 columns time-difference">

    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <%= f.submit (@entry? t('.save') : t('.start_timer')), id: 'time_entry_submit', class: 'primary medium button' %>
    <%= link_to t('.cancel'), '#', class: 'close-reveal-modal link' %>
    <% if @entry && @entry.persisted? %>
      <%= link_to t('.delete'), time_sheet_time_entry_path(@time_sheet, @entry), method: :delete, remote: true, class: 'delete-time-entry-link' %>
    <% end %>
  </div>
</div>

