<div class="row">
  <div class="small-12 columns">
    <%= f.collection_select :time_type_id, @time_types, :id, :name %>
  </div>
</div>

<div class="row">
  <div class="small-8 columns">
    <%= datefield(f, :start_date, t('.date'), f.object.start_date, :date) %>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <%= f.text_field :start_time, class: 'time' %>
  </div>
  <div class="small-4 columns">
    <%= f.text_field :end_time, class: 'time' %>
  </div>
  <div class="small-4 columns time-difference">

  </div>
</div>

<div class="row" font-s>
  <div class="small-12 columns">
    <%= f.submit f.object.timer? ? t('.start_timer') : t('.save'), class: 'medium button', id: 'time_entry_submit' %>
    <%= link_to t('.cancel'), '', class: 'medium button secondary close-reveal-modal-button' %>
    <% if @time_entry && @time_entry.persisted? %>
      <%= link_to t('.delete'), time_sheet_time_entry_path(@time_sheet, @time_entry), method: :delete, remote: true, class: 'medium button alert' %>
    <% end %>
  </div>
</div>

