<%= form_for([@time_sheet, @time_entry]) do |f| %>
   <div class="row">
    <div class="small-6 columns end">
      <%= f.label :start_date %>
      <%= f.text_field :start_date %><br/>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :start_time %>
      <%= f.text_field :start_time, class: 'time' %><br/>
    </div>
    <div class="small-6 columns">
      <%= f.label :end_time %>
      <%= f.text_field :end_time, class: 'time' %><br/>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit t('.add'), class: 'primary medium button' %>
      <%= link_to t('.cancel'), '#', class: 'close-reveal-modal link' %>
    </div>
  </div>
<% end %>

