<div class="row">
  <div class="large-2 columns">
    <% if timer.start_date != @day %>
      <span class="has-tip duration" data-tooltip="<%= t('.tooltip.starts') %> <%= l timer.starts, format: :long %>">
        <%= l range.min %>
      </span>
    <% else %>
      <span class="duration">
        <%= l range.min %>
      </span>
    <% end %>
    &ndash;
    <% if @day != timer.start_date %>
      <span class="has-tip duration" data-tooltip="<%= t('.tooltip.ends') %> <%= l Time.current, format: :long %>">
        <%= l range.max %>
      </span>
    <% else %>
      <span class="now"><%= t('.now') %></span>
    <% end %>
  </div>
  <div class="large-6 columns">
    <%= timer.time_type %>
  </div>
  <div class="large-4 columns">
    <div class="right">
      <a href="<%= url_for(action: :stop_timer, date: @day) %>" data-method="put" data-remote="true" class="stop-timer">
        Stop
      </a>
      <small>
        <span class="timer-overall-label hidden has-tip" data-tooltip="<%= t '.exceeds-day' %>">
          <%= t '.timer' %> 
          <span class="timer-overall duration" data-timer-id="<%= timer.id %>"></span>
        </span>
      </small>
      <a href='#' class="edit remote-reveal" data-reveal-id="time-modal" data-reveal-url="<%= edit_user_time_entry_path(@user, timer) %>">
        <%= icon(:edit) %>
      </a>
      <span class="timer-current duration" data-timer-id="<%= timer.id %>"></span>
    </div>
  </div>

</div>
