<%
  if time_span.date != time_entry.start_date
    tooltip_for_start_time = "#{t('.tooltip.starts')} #{l(time_entry.starts, format: :long)}"
    start_time = "00:00"
  else
    tooltip_for_start_time = ""
    start_time = l(time_entry.starts)
  end

  if time_span.date != time_entry.end_date
    tooltip_for_end_time = "#{t('.tooltip.ends')} #{l(time_entry.ends, format: :long)}"
    end_time = "00:00"
  else
    tooltip_for_end_time = ""
    end_time = l(time_entry.ends)
  end
%>
<span <% unless tooltip_for_start_time.blank? %>class="has-tip" data-tooltip="<%= tooltip_for_start_time %>"<% end %>>
  <%= start_time %>
</span>
- 
<span <% unless tooltip_for_end_time.blank? %>class="has-tip" data-tooltip="<%= tooltip_for_end_time %>"<% end %>>
  <%= end_time %>
</span>

<small>
  <%= time_span.time_type %>
  <% if not standard_calculation?(time_span.time_type) && time_span.duration_bonus != 0 %>
    <small> (<%= time_type_bonus_percentage(time_span.time_type) %> <%= t '.duration_bonus' %>: <%= format_duration(time_span.duration_bonus) %>) </small>
  <% end %>
</small>

<div class="right">
  <a href='#' class="edit-entry edit-time-entry-link remote-reveal" data-reveal-id="time-modal" data-reveal-url="<%= edit_user_time_entry_path(@user, time_entry) %>">
    <%= icon(:edit) %>
  </a>
  <%= format_duration(time_span.duration) %>
</div>

