<% if timer.start_date != @day %>
  <span class="has-tip" data-tooltip="<%= t('.tooltip.starts') %> <%= l timer.starts, format: :long %>">
    <%= l range.min %>
  </span>
<% else %>
    <%= l range.min %>
<% end %>
–
<% if @day != timer.start_date %>
  <span class="has-tip" data-tooltip="<%= t('.tooltip.ends') %> <%= l Time.current, format: :long %>">
    <%= l range.max %>
  </span>
<% end %>

<small><%= timer.time_type %></small>

<div class="right">
  <a href='#' class="edit-time-entry-link remote-reveal" data-reveal-id="time-modal" data-reveal-url="<%= edit_user_time_entry_path(@user, timer) %>">
    <%= icon(:edit) %>
  </a>
  <a href="<%= url_for(action: :stop_timer, date: @day) %>" data-method="put" data-remote="true" class="stop-timer">
    Stop
  </a>
  <small>
    <span class="timer-overall-label hidden has-tip" data-tooltip="<%= t '.exceeds-day' %>">
      <%= t '.timer' %> 
      <span class="timer-overall" data-timer-id="<%= timer.id %>"></span>
    </span>
  </small>
  <span class="timer-current" data-timer-id="<%= timer.id %>"></span>
</div>

