<%= render(partial: 'shared/user_select', locals: { link_generator: :user_path_time_sheet, selected_user: @user }) %>

<div class="row">
  <div class="large-12 columns">
    <% unless @timers_other_days.empty? %>
      <div data-alert class="alert-box">
        <i class='icon-time'></i>
        <%= t '.timer_running_warning', count: @timers_other_days.length %>
        <%= running_timer_dates(@timers_other_days) %>.
      </div>
    <% end %>

    <%= link_to '', {action: :summary_for_date, date: @day}, remote: true, class: 'hide ajax summary_for_date' %>

    <div class="timesheet week-view">
      <%= render(partial: 'shared/week_view/head') %>
      <%= render(partial: 'shared/week_view/weekdays') %>

      <div class="entries">
        <% if @current_public_holiday || @time_spans_of_absences.any? || @time_spans_of_time_entries.any? || @timer %>
          <ul>
            <% if @current_public_holiday %>
              <li><%= render(partial: 'public_holiday', locals: {public_holiday: @current_public_holiday}) %></li>
            <% end %>
            <% @time_spans_of_absences.each do |time_span| %>
              <li><%= render(partial: 'absence', locals: {time_span: time_span, absence: time_span.time_spanable}) %></li>
            <% end %>
            <% @time_spans_of_time_entries.each do |time_span| %>
              <li><%= render(partial: 'time_entry', locals: {time_span: time_span, time_entry: time_span.time_spanable}) %></li>
            <% end %>
            <% if @timer %>
              <li><%= render(partial: 'timer', locals: {timer: @timer, range: @timer_range}) %></li>
            <% end %>
            <%= render(partial: 'shared/week_view/summary') %>
          </ul>
        <% else %>
          <div class="no-entries-message">
            <p>
              <%= t '.no_entries_yet_message' %>
              <br>
              <a href="#" class="remote-reveal" data-reveal-id="time-modal" data-reveal-url="<%= new_user_time_entry_path(@user, date: @day) %>"><%= t '.add_time_now' %></a>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'shared/nice_modal' %>
  </div>
</div>
<%
absence_time_types = time_types_in_absences(@absences)
if @public_holidays.any? || absence_time_types.any?
%>
  <div class="row">
    <div class="small-12 columns">
      <%= render 'shared/event_legend', show_public_holiday: @public_holidays.any?, time_types: absence_time_types  %>
    </div>
  </div>
<% end %>

