<div class="row">
  <div class="small-12 columns">
    <table class="nice small-12">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <% if @view == :month %>
            <th><%= t '.taken_in_month', month: l(@month_as_date, format: '%B'), year: @month_as_date.year %></th>
          <% else %>
            <th><%= t '.taken_in_year', year: @year %></th>
          <% end %>
          <th><%= t '.remaining' %></th>
        </tr>
      </thead>
      <tbody>
        <% @entries.each_pair do |user, summary| %>
        <tr class="summary-row" >
          <td><%= user %></td>
          <td><%= format_work_days(summary[:redeemed]) %></td>
          <td><%= format_work_days(summary[:remaining]) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
