<div id="add-absence-modal" class="medium reveal-modal">
  <div class="row">
    <div class="small-12 columns">
      <h2><%= t('.add_absence') %>
    </div>
  </div>
  <%= select_tag :other, :time_type %>
  <%= form_for [@time_sheet, @date_entry] do |f| %>
    <%= render partial: 'date_entries/absence_form', locals: {f: f} %>
    <%= render partial: 'entries/recurring_form', locals: {f: f} %>
  <% end %>
  <%= form_for [@time_sheet, @time_entry] do |f| %>
    <%= render partial: 'time_entries/absence_form', locals: {f: f} %>
    <%= render partial: 'entries/recurring_form', locals: {f: f} %>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
