<%= f.hidden_field :time_type_id %>

<div class="row">
  <div class="small-12 columns">
    <%= f.select :time_type_id, options_from_collection_for_select(@time_types, :id, :name, f.object.time_type_id), label: t('.time_type') %>
  </div>
</div>

<div class="row from_to_date">
  <div class="small-6 columns">
    <%= f.text_field :start_date, label: t('.start_date'), class: :from_date, value: l(f.object.start_date, format: :long),
                     'data-year' => f.object.start_date.year, 'data-month' => f.object.start_date.month, 'data-day' => f.object.start_date.day %>
  </div>
  <div class="small-6 columns">
    <%= f.text_field :end_date, label: t('.end_date'), class: :to_date, value: l(f.object.end_date, format: :long),
                     'data-year' => f.object.end_date.year, 'data-month' => f.object.end_date.month, 'data-day' => f.object.end_date.day %>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
    <%= f.select :daypart, {t('.whole_day') => :whole_day, t('.first_half_day') => :first_half_day, t('.second_half_day') => :second_half_day}, label: t('.daypart') %>
  </div>
</div>

<%= render 'absences/recurring_schedule_sub_form', main_form: f %>

<div class="row">
  <div class="small-12 columns">
    <%= f.submit class: 'button' %>
    <% if f.object.persisted? %>
      <%= link_to t('.delete'), time_sheet_absence_path(f.object.time_sheet_id, f.object), method: :delete, class: 'absence-delete-link' %>
    <% end %>
  </div>
</div>
