<%= f.hidden_field :time_type_id %>

<div class="row">
  <div class="small-12 columns">
    <%= f.select :time_type_id, options_from_collection_for_select(@time_types, :id, :name, f.object.time_type_id) %>
  </div>
</div>

<div class="row from_to_date">
  <div class="small-6 columns">
    <%= f.text_field :start_date, class: :from_date, value: l(f.object.start_date, format: :long) %>
  </div>
  <div class="small-6 columns">
    <%= f.text_field :end_date, class: :to_date, value: l(f.object.end_date, format: :long) %>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
    <%= f.select :daypart, options_for_select([['Whole day', :whole_day], ['First half day', :first_half_day], ['Second half day', :second_half_day]]) %>
  </div>
</div>

<%= render 'shared/recurring_schedule_sub_form', main_form: f %>

<div class="row">
  <div class="small-2 columns">
    <%= f.submit class: 'button'%>
  </div>
</div>
