<div class="row">
  <div class="small-12 columns">
    <%= main_form.fields_for :recurring_schedule do |rs| %>

      <div class="row">
        <div class="small-3 columns">
          <%= rs.check_box :active, label: t('.recurring_active'), class: 'toggle', :'data-toggle-target' => 'recurring-form' %>
        </div>
      </div>

      <span id="recurring-form" class="row collapse <%= unless rs.object.active then 'hide' end %>">
        <H3><%= t '.repeat' %></h3>

        <%= rs.hidden_field :ends, value: 'date' %>
        <div class="small-3 columns">
          <span class="prefix"><%= t '.repeat_every' %></span>
        </div>
        <div class="small-3 columns">
          <%= rs.text_field :weekly_repeat_interval, label: false %>
        </div>
        <div class="small-3 columns">
          <span class="postfix prefix"><%= t '.weeks_until' %></span>
        </div>
        <div class="small-3 columns end">
          <%= rs.text_field :ends_date, class: :date, label: false %>
        </div>
      </span>
    <% end %>
  </div>
</div>
