<div class="row">
  <div class="small-12 columns">
    <%= main_form.fields_for :schedule do |rs| %>

      <div class="row">
        <div class="small-12 columns recurring-checkbox">
          <%= rs.check_box :active, label: ActiveSupport::SafeBuffer.new('&nbsp;') + t('.recurring_active'), class: 'toggle', :'data-toggle-target' => 'recurring-form' %>
        </div>
      </div>

      <span id="recurring-form" class="row collapse <%= unless rs.object.active then 'hide' end %>">
        <H3><%= t '.repeat' %></h3>

        <div class="small-4 columns">
          <span class="prefix"><%= t '.repeat_every' %></span>
        </div>
        <div class="small-2 columns">
          <%= rs.text_field :weekly_repeat_interval, label: false %>
        </div>
        <div class="small-3 columns">
          <span class="postfix prefix"><%= t '.weeks_until' %></span>
        </div>
        <div class="small-3 columns end">
          <%= datefield(rs, :ends_date, false, rs.object.ends_date, :date) %>
        </div>
      </span>
    <% end %>
  </div>
</div>
