<%= render(partial: 'shared/user_select', locals: { link_generator: :user_path_absences, selected_user: @time_sheet.user }) %>

<div class="row">
  <div class="small-10 columns">
    <ul class="event-legend">
      <%= render 'shared/event_legend', show_public_holiday: true, time_types: TimeType.absence  %>
    </ul>
  </div>
  <div class="small-2 columns">
    <h1 class="year-navigation">
      <%= link_to icon('caret-left'), year_time_sheet_absences_path(@time_sheet, @year - 1) %>
      <%= link_to icon('caret-right'), year_time_sheet_absences_path(@time_sheet, @year + 1) %>
      <%= @year %>
    </h1>
  </div>
</div>

<% (1..12).to_a.in_groups_of(3) do |months| %>
  <div class="row">
    <% months.each do |month| %>
      <div class="small-12 large-4 columns">
        <%= calendar(year: @year, month: month, first_day_of_week: 1, show_week_numbers: true, week_number_title: '') do |day|
          render_calendar_cell(day)
        end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if can?(:manage, Absence) %>
  <%= render 'absence_modal' %>
<% end %>
