<%= render(partial: 'shared/user_select', locals: { link_generator: :user_path_work_summary, selected_user: @user }) %>

<%= render partial: 'reports/shared/header', locals: {base_url: "/reports/work/users/#{@user.id}/:year", title: t('.title'), unit: t('.unit')} %>

<div class="content-summary row">
  <div class="small-12 columns">
    <table class="nice small-12">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th><%= t 'reports.work.columns.effective_worked' %></th>
          <th><%= t 'reports.work.columns.absent' %></th>
          <th><%= t 'reports.work.columns.time_bonuses' %></th>
          <th><%= t 'reports.work.columns.adjustments' %></th>
          <th><%= t 'reports.work.columns.target' %></th>
          <th><%= t 'reports.work.columns.overtime' %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <% @buckets.each do |range| %>
            <tr>
              <td>
                <%= link_to label_for_range(range), show_date_user_time_entries_path(user, range.min) %>
              </td>
              <td>
                <%= render partial: 'reports/shared/tooltip', locals: {time_types: user.time_sheet.work_by_type(range), total: user.time_sheet.work_total(range) } %>
              </td>
              <td>
                <%= render partial: 'reports/shared/tooltip', locals: {time_types: user.time_sheet.absences_by_type(range), total: user.time_sheet.absences_total(range), format_in_days: true } %>
              </td>
              <td>
                <span><%= format_hours(user.time_sheet.bonus(range)) %></span>
              </td>
              <td>
                <%= render partial: 'reports/shared/tooltip', locals: {time_types: user.time_sheet.adjustments_by_type(range), total: user.time_sheet.adjustments_total(range) } %>
              </td>
              <td>
                <span><%= format_hours(user.time_sheet.planned_working_time(range)) %></span>
              </td>
              <td>
                <span><%= format_hours(user.time_sheet.overtime(range)) %></span>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
