<div class="row">
  <div class="small-12 columns">
    <%= f.text_field :customer_id, value: (f.object.customer.display_name if f.object.customer) %>
  </div>
</div>

<div class="row"<%= ' style="display: none"'.html_safe if @projects.blank? %>>
  <div class="small-12 columns">
    <%= f.label :project, class: 'left' %>
    <%= f.collection_select :project_id, @projects, :id, :name %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= f.label :activity_type, class: 'left' %>
    <%= f.collection_select :activity_type_id, @activity_types, :id, :name %>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
    <%= f.check_box :billable %>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <%= f.text_field :duration, value: display_in_hours(@activity.duration) %>
  </div>
  <div class="small-8 columns">
    <%= datefield(f, :date, t('.date'), f.object.date, :date) %>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <%= f.text_field :redmine_ticket_id %>
  </div>
  <div class="small-8 columns">
    <%= f.text_field :otrs_ticket_id %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= f.text_area :description %>
  </div>
</div>


<div class="row">

  <div class="small-12 columns">
  <%= f.submit t('.save'), id: 'time_entry_submit', class: 'primary medium button' %>
  <%= link_to t('.cancel'), '#', class: 'close-reveal-modal link' %>
  <% if @activity && @activity.persisted? %>
    <%= link_to t('.delete'), user_activity_path(@user, @activity), method: :delete, remote: true, class: 'delete-activity-link' %>
  <% end %>

</div>

