<%= render(partial: 'shared/user_select', locals: { link_generator: :user_activities_path, selected_user: @user }) %>

<div class="row">
  <div class="large-12 columns">

    <div class="activities week-view">
      <%= render(partial: 'shared/week_view/head') %>
      <%= render(partial: 'shared/week_view/weekdays') %>

      <div class="entries">

        <% unless @activities.blank? %>
          <ul>
            <% @activities.each do |activity| %>
              <li>
                <div class="activity">
                  <%= activity.activity_type.name %>
                </div>
                <div class="metadata">
                  <small>Kunde: <%= activity.customer_id %></small>
                  <small><%= activity_source_information(activity) %></small>
                </div>
                <div class="right">
                  <%= format_duration(activity.duration) %>
                </div>
              </li>
            <% end %>
            <%= render(partial: 'shared/week_view/summary') %>
          </ul>
        <% else %>
          <div class="no-entries-message">
            <p>
              <%= t '.no_entries_yet_message' %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
