<%= render partial: 'summaries/shared/header', locals: {base_url: "/users/summaries/activity/filter/:year", title: t('.title'), unit: ''} %>
<div class="content-summary row">
  <div class="small-12 columns">
    <div class="row">
      <table class="nice small-12 sortable">
        <thead>
          <tr>
            <th data-sort="string"><%= t ".#{@group_by}" %></th>
            <th data-sort="hhmm" width="20%"><%= t '.duration' %></th>
            <th data-sort="hhmm" width="20%"><%= t '.billable' %></th>
            <th data-sort="hhmm" width="20%"><%= t '.not_billable' %></th>
          </tr>
        </thead>
        <tbody>
          <% @sums.each do |dimension, durations| %>
          <tr>
            <td><%= dimension %></td>
            <td><%= format_duration(durations[:duration] || 0) %></td>
            <td><%= format_duration(durations[:billable] || 0) %></td>
            <td><%= format_duration(durations[:not_billable] || 0) %></td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td><%= format_duration(@totals[:duration] || 0) %></td>
            <td><%= format_duration(@totals[:billable] || 0) %></td>
            <td><%= format_duration(@totals[:not_billable] || 0) %></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
