<div class="subnavigation container">
  <div class="row">
    <div class="small-12 columns">
      <dl class="sub-nav">
        <dd<%= ' class=active' if controller.controller_name == 'my_work' %>>
          <%= link_to t('.my_work_summary'), user_summaries_work_month_path(current_user, Date.current.year, Date.current.month) %>
        </dd>
        <dd<%= ' class=active' if controller.controller_name == 'my_absence' %>>
          <%= link_to t('.my_absence_summary'), user_summaries_absence_year_path(current_user, Date.current.year) %>
        </dd>
        <dd<%= ' class=active' if controller.controller_name == 'work' %>>
          <%= link_to t('.work_summary'), month_summaries_work_users_path(Date.current.year, Date.current.month) %>
        </dd>
        <dd<%= ' class=active' if controller.controller_name == 'absence' %>>
          <%= link_to t('.absences_summary'), month_summaries_absence_users_path(Date.current.year, Date.current.month) %>
        </dd>
      </dl>
    </div>
  </div>
</div>
