<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "uberZeit" %></title>

	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= javascript_tag do %>
    $.extend( $.fn.pickadate.defaults,
      <%= pickadate_js_localization %>
    );
  <% end %>

  <script type="text/javascript">
    // Required keys in javascript
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>
</head>
<body class="content-<%= controller.controller_name %>">
  <%= render 'layouts/header' %>
  <div class="subnavigation container">
    <div class="row">
      <div class="small-12 columns">
        <%= render_navigation(level: 2, renderer: SubnavRenderer) %>
      </div>
    </div>
  </div>

  <div class="content container">

    <% flash.each do |key,val| %>
      <div class="row">
        <div class="small-12 columns">
          <div class="alert-box <%= key %>">
            <%= val %>
            <%= link_to '×', '', class: 'close' %>
          </div>
        </div>
      </div>
    <% end %>

    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
